@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Admin Panel</h1>

<div class="container">
    <p>Actions</p>
    <a class="btn btn-outline-danger" href="Patients">Patients</a>
    <a class="btn btn-outline-warning" href="Appointments">Appointments</a>
    <a class="btn btn-outline-success" href="Doctors">Doctors</a>
</div>